description "titandb"


start on runlevel [2345]
stop on runlevel [!2345]

console log

respawn

setuid {{ titandb_user_name }}
setgid {{ titandb_group_name }}

env titan="{{ titandb_home_dir }}/bin/titan.sh"

pre-start script
  $titan start
  sleep 5
end script

post-stop script
  $titan stop
  sleep 5
end script
